<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProgrammesController</servlet-name>
        <servlet-class>Controllers.ProgrammesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinancieresController</servlet-name>
        <servlet-class>Controllers.FinancieresController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobilitesController</servlet-name>
        <servlet-class>Controllers.MobilitesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MobilitesController</servlet-name>
        <url-pattern>/mobilites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgrammesController</servlet-name>
        <url-pattern>/programmes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinancieresController</servlet-name>
        <url-pattern>/financieres</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>app</web-resource-name>
            <url-pattern>/index.jsp</url-pattern>
        </web-resource-collection>
        <!-- OMIT auth-constraint -->
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Deny Direct Access</web-resource-name>
            <description/>
            <url-pattern>*.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Denied</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>Denied</role-name>
    </security-role>
</web-app>
